/* MAIN BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: rgb(22, 22, 67);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.home_page_heading {
    width: 100%;
    font-size: 40px;
    background-color: rgba(54, 54, 66, 0.938);
    color: white;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(23, 139, 255, 0.8);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* NAV BAR */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #12122f;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 30px;
    transition: background-color 0.3s ease;
}

nav img {
    width: 120px;
}

.nav-bar {
    display: flex;
    float: right;
}


.nav_options {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 15px;
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s ease;
}

.nav_options::before {
    content: "";
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #ffd700;
    transition: width 0.3s ease-in-out;
}

.nav_options:hover::before {
    width: 100%;
}

.nav_options:hover {
    color: #ffd700;
    background-color: #1e1d1d;
    border-radius: 5px;
}

.dropbtn {
    background-color: #350e5c;
    box-shadow: 2px 2px 4px #1e1e80;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    background-color: #7a77ac;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 360px;
    height: 360px;
    background-color: #19182465;
}

.dropdown-content a {
    color: rgb(251, 248, 248);
    padding: 30px;
    width: 100%;
    height: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #201251;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #151254;
}

.main-content {
    padding-top: 120px;
    flex: 1;
}

/* CONTENT */
#home-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
    position: relative;
}

#home-section a:link {
    text-decoration: none;
}

.hover-text {
    font-size: 100px;
    font-weight: bold;
    color: #ffd700;
    cursor: pointer;
    text-align: center;
    animation: pulse 2s infinite;
}

.wave {
    position: absolute;
    width: 200%;
    height: 12em;
    border-radius: 1000% 1000% 0 0;
    background: rgba(90, 71, 165, 0.8);
    animation: wave 12s linear infinite;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    animation: wave 15s reverse infinite;
    opacity: 0.6;
    bottom: -1em;
    background-color: rgba(129, 109, 209, 0.8);
}

.wave:nth-of-type(3) {
    animation: wave 18s reverse infinite;
    opacity: 0.4;
    bottom: -2em;
    background-color: rgba(115, 93, 255, 0.8);
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

/* SUB-HEADING */
.subheading {
    position: relative;
    width: 500px;
    height: 60px;
    margin: 0 auto;
    background: #27293c;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.monitor-wrapper {
    width: 480px;
    height: 40px;
    background: #12132b;
    margin: 10px auto;
    border: 1px solid #682baf;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitor-wrapper .monitor p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    animation: move 15s infinite linear;
    color: #f7cc35;
    white-space: nowrap;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

}

@keyframes move {
    from {
        left: 600px;
    }

    to {
        left: -1200px;
    }
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

/* ABOUT US */
.relativeposition {
    position: relative;
    z-index: 0;
    margin: 0 auto;
}

article {
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: white;
}

.tagline {
    font-size: 30px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.image img:hover {
    width: 360px;
    height: 260px;
}

.para {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(71, 67, 90);
}

article div {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: justify;
    margin: 10px;
}


article p {
    font-size: 23px;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* --------------------SPONSORS ----------------------------*/

.sponhead {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    justify-self: center;
}

.image img {
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 8px rgba(23, 139, 255, 0.8);
}

.slidelogo img {
    width: 150px;
    height: 100px;
}

.slidelogo img:hover {
    width: 160px;
    height: 110px;
    transition-duration: 1s;
    transition: ease-in-out;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}

#sponsor {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#sponsor .logos {
    padding: 150px;
    animation: scroll 40s linear infinite;
    display: flex;
    width: max-content;
}

#sponsor .slidelogo {
    height: 100px;
    width: 250px;
    margin-right: 20px;
}

.gold {
    color: #ffd700;
}


/* -------------------------------------------FOOTER-------------------------------------------------------- */

footer {
    background-color: #090b3f;
}

.cont {
    width: 100%;
    padding: 70px 30px 20px;
    display: flex;
}

.box1 {
    width: 400px;
}

.icons {
    display: flex;
    justify-content: center;

}

.icons a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;

}

.icons a i {
    font-size: 1em;
    color: rgb(17, 0, 255);
    opacity: 0.9;
}

.icons a j {
    font-size: 1em;
    color: rgb(17, 159, 247);
    opacity: 0.9;
}

.icons a k {
    font-size: 1em;
    color: rgb(237, 0, 245);
    opacity: 0.9;
}

.icons a l {
    font-size: 1em;
    color: rgb(84, 84, 76);
    opacity: 0.9;
}

.icons a n {
    font-size: 1em;
    color: rgb(255, 0, 0);
    opacity: 0.9;
}

.icons a:hover i {
    color: rgb(138, 157, 255);
    transition: 0.1s;
}

.icons a:hover j {
    color: rgb(133, 196, 249);
    transition: 0.1s;
}

.icons a:hover k {
    color: rgb(234, 171, 245);
    transition: 0.1s;
}

.icons a:hover l {
    color: rgb(145, 146, 137);
    transition: 0.1s;
}

.icons a:hover n {
    color: rgb(249, 133, 133);
    transition: 0.1s;
}

.footerNav {
    margin: 35px;
}

.box2 {
    display: flex;
    gap: 15px;
}

.student {
    width: 250px;
    color: white;
    background-color: rgba(31, 15, 109, 0.823);
    padding: 5px;
    border: 3px solid rgba(12, 6, 65, 0.871);
    box-shadow: 4px 4px 2px rgba(101, 105, 168, 0.871);
    line-height: 1.5;
}

.student h3 {
    color: rgb(255, 0, 212);
    font-style: italic;
}

.student a:link,
a:visited {
    color: #fff;
}

.student a:hover {
    color: #ffd700;
}

.name {
    font-family: 'Times New Roman', Times, serif;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: rgb(255, 255, 255);
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 100%;

}

.footerNav ul li a:hover {
    /* opacity: 0.3; */
    transition: 0.1s;
    color: rgba(250, 218, 10, 0.816);
    text-decoration: underline;
}

.footerBottom {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    color: rgb(152, 156, 160);
    opacity: 70%;
    display: flex;
    gap: 750px;
}

.designer {
    opacity: 70%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .icons a {
        padding: 8px;
        margin: 4px;
    }
}



/* Gallery */
.gallery-container {
    padding-top: 80px;
    /* width: 100%; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}

.gallery-header {
    text-align: center;
    margin-bottom: 30px;
}

.gallery-header h1 {
    font-size: 2 rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ffd700;
    text-decoration: dotted;

}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 60px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffd700;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}


.relativeposition {
    position: relative;
    z-index: 0;
    top: 100px;
}

.container {
    width: 900px;
    height: auto;
    background-color: rgba(54, 54, 66, 0.8);
    border-radius: 25px;
    justify-self: center;
    padding: 20px;
    color: #fff;
    margin: 20px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 8px 8px 4px #6c6ca5;
}

.container h1 {
    text-align: center;
    color: #ffd700;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 36px;

}

.section {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(225, 225, 225);
    line-height: 25px;
}

.section h3 {
    color: #ffd700;
    font-size: 20px;
    margin-bottom: 10px;
}

.section a:link,
a:visited {
    color: #ffd700;
}

.section a:hover {
    color: rgb(137, 168, 253);
    margin: 20p;
}

.questions {
    color: #e9f4fb;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.answers {
    margin-bottom: 10px;
}


/* contact-us*/
.main-content {
    padding-top: 120px;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 40px;
    background-color: rgba(54, 54, 66, 0.9);
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
    border: 1px solid #2b2b3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ffd700;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    width: 35%;
    text-align: left;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    width: 60%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ffd700;
}

.form-group textarea {
    resize: vertical;
    height: 120px;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #ffd700;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
    color: white;
}




/* ------------------------------------------schedule----------------------------------------- */


h1 {
    text-align: center;
    color: #ffd700;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.relativeposition {
    position: relative;
    z-index: 0;
    top: 100px;

}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(54, 54, 66, 0.8);
    box-shadow: 4px 4px 2px rgba(114, 106, 198, 0.73);
    border-radius: 25px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.section {
    padding: 20px;
    border-bottom: 1px solid rgb(166, 155, 232);
}

.section h3 {
    color: rgb(133, 133, 230);
    font-size: 24px;
    margin-bottom: 5px;
}

.section .schedule_subheading {
    font-size: 20px;
    font-weight: 600;
}

.section .text {
    font-size: 18px;
    margin-bottom: 10px;
}





/* -------------------ticket--------------------------- */
.ticket_main_content {
    padding-top: 120px;
    position: relative;
    z-index: 0;
    /* top: 120px; */
    /* flex: 1; */
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.ticket_container {
    padding: 40px;
    background-color: rgba(54, 54, 66, 0.9);
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
    border: 1px solid #2b2b3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    overflow: hidden;
}

.ticket_header {
    text-align: center;
}

.ticket {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffd700;
    margin-bottom: 30px;
    text-decoration: underline;
}

.ticket_form_group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket_form_group label {
    width: 35%;
    text-align: left;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
}

.ticket_form_group input,
.ticket_form_group select {
    width: 60%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

.ticket_form_group input:focus,
.ticket_form_group select:focus {
    border-color: #ffd700;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #ffd700;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* font-weight: 600; */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
    color: white;
}




/* -------------------refund-policy------------------------------- */
.refund_heading {
    text-align: center;
}

.refund_relativeposition {
    position: relative;
    z-index: 0;
    top: 100px;
}

.refund_container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(54, 54, 66, 0.8);
    box-shadow: 4px 4px 2px rgba(114, 106, 198, 0.73);
    border-radius: 25px;
    margin-bottom: 40px;
}

.refund_headfont {
    color: rgb(133, 133, 230);
}

.refund_section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(187, 182, 182);
}

.refund_heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: underline;
    color: #ffd700;
}